<div class="global-notification">
    <p>
        BLACK FRİDAY - SEÇİLİ ÜRÜNLERDE %30 İNDİRİM
        <a href="shop.html"> SATIN AL</a>
    </p>
</div>
<div class="header-row">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-left">
                <a asp-controller="Home" asp-action="Index" class="logo">
                    <img src="https://w7.pngwing.com/pngs/713/936/png-transparent-online-shopping-shopping-cart-logo-e-commerce-market-blue-angle-company.png"
                        style="width: 60px;" alt="">
                </a>
            </div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Product"
                            asp-action="Index">Products</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-page="/Contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="header-center">
                <partial name="_SearchBar" />
            </div>
            <div class="header-right">
                <div class="header-right-links">
                    <div class="header-cart">
                        <a asp-page="/Cart" class="header-cart-link">
                            <i class="bi bi-cart2"></i>
                            <span class="header-cart-count">(@await Component.InvokeAsync("CartSummary"))</span>
                        </a>
                    </div>
                    <div class="header-account">
                        <div class="btn-group " role="group" aria-label="Basic example">
                            <partial name="_LoginMenu" />
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>