<div class="my-3">
    <div class="box1">
        <div class="box5">
            <h5 class="bi bi-person-circle"> Profil</h5>
            <hr />
            <a asp-action="Index" class="button button4">
                <i class="fa fa-user"></i>
                My Profile</a>
            <hr />
            <a asp-controller="Profile" asp-action="AddressInformation" class="button button4">
                <i class="fa-solid fa-address-book"></i>
                My Address Information</a>
            <hr />
            <a asp-controller="Profile" asp-action="MyOrders" class="button button4">
                <i class="fa-solid fa-bag-shopping"></i>
                My Orders</a>
            <hr />
            <a asp-controller="Profile" asp-action="ResetPassword" class="button button4">
                <i class="fa-solid fa-key"></i>
                Reset Password</a>
            <hr />
            <a class="button button4">MESAJLAR</a>
            <hr />
        </div>
    </div>
</div>
