@model RegisterDto

@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
</head>
<body>
    <div class="wrapper bg-white">
        <div class="h2 text-center">e_commerceApp</div>
        <div class="h4 text-muted text-center pt-2">
            <i class="fa-solid fa-user-plus"></i>
            Register</div>

            <div class="text-danger" asp-validation-summary="All"></div>

        <form method="post" asp-action="Register" class="pt-3">
             <div class="form-group py-2">
                <div class="input-field">
                    <span class="bi bi-person-circle"></span>
                    <input asp-for="UserName" type="text" placeholder="FullName" />
                </div>
            </div>
            <div class="form-group py-2">
                <div class="input-field">
                    <span class="bi bi-person-circle"></span>
                    <input asp-for="Email" type="text" placeholder="Email" />
                </div>
            </div>
            <div class="form-group py-1 pb-2">
                <div class="input-field">
                    <span class="bi bi-person-fill-lock"></span>
                    <input asp-for="Password" type="password" id="password" name="password" placeholder="Şifre" />

                    <span class="bi bi-eye-fill" onclick="togglePassword()"></span>
                </div>
            </div>
          
            <div class="form-group">
            <div class="btn-group my-3" style="margin-left: 40px;">
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-block">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Login</a>
                <button class="btn btn-primary btn-block">
                    <i class="fa-solid fa-user-plus"></i>
                    Register</button>   
            </div>
            </div>
        </form>
    </div>
    <script>
        function togglePassword() {
            var element = document.getElementById("password");
            element.type = element.type == "password" ? "text" : "password";
        }
        
    </script>
</body>

</html>