@model Product

<div class="col-sm-12 col-md-4 my-3">
    <div class="card my-3" style="width: 18rem;">
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4HELg?q=90&o=f&w=480&h=270"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model?.ProductName</h5>
            <p class="card-text">@Model?.unitPrice.ToString("c")</p>
            <div class="btn btn-group">
                <a class="btn btn-primary mx-1" asp-action="Get" asp-route-id="@Model?.ProductID">
                    <i class="fa-solid fa-arrow-right"></i>
                    Details</a>
            </div>
        </div>
    </div>
</div>